body {
	font-family: Tahoma, Helvetica, sans-serif;
	color: #333333;
	font-size: 97%;
	background-color: #EFEFEE;
	margin: 0;
	padding: 0;
}

#header {
	background-image: url("images/atacamaLama3.png");
	background-repeat: no-repeat;
	height: 82px;
	margin: 12px auto -23px;
	padding: 10px;
	position: relative;
	right: -300px;
	top: 6px;
	width: 262px;
}

#content_container {
	width: 956px;
	background-color: white;
	margin: 4px auto 0;
	overflow: auto;
}

#nav_area {
	display: block;
	height: 100%;
	width: 150px;
	float: left;
	width: 150px;
	padding: 20px 0 0 10px;
}

#content {
	width: 775px;
	float: right;
	border-left: 1px dotted #BDB76B;
	padding: 0 0 12px 10px;
}

#footer {
	clear: both;
	width: 800px;
	padding: 20px;
	margin: 0 auto;
	width: 800px;
}

.row {
	margin-top: 0.2em;
}

#grey_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity =     50);
	background-color: #ccc;
	top: 0;
	left: 0;
	z-index: 1;
}

#loading img {
	border: 0px dotted #bdb76b;
	padding: 30px;
	background-color: white;
	position: absolute;
	opacity: 1;
	top: 50%;
	left: 50%;
	z-index: 99;
	margin-left: -150px;
}

.left,label,ul#bindeeinheit strong {
	display: inline;
	float: left;
	width: 9em;
}

ul#bindeeinheit strong {
	width: 6em;
	font-weight: 300;
}

ul#bindeeinheit {
	padding-left: 13px;
	font-size: 0.9em;
}

ul#bindeeinheit li {
	margin-bottom: 27px;
}

#signatur_link span.ui-icon,#edit_link span.ui-icon,#book_selected span.ui-icon
	{
	left: 0.2em;
	margin: -8px 5px 0 0;
	position: absolute;
	top: 50%;
}

form#login_form {
	padding: 20px;
}

#signatur_link,#edit_link,#book_selected {
	font-size: 0.8em;
	padding: 3px 10px 2px 22px;
	position: relative;
}

.set {
	margin: 15px 0 0;
}

.set label {
	float: none;
}

#gbox_orders,#gbox_scanfiles,#gbox_errors,#gbox_queue, #gbox_jobs {
	margin-left: -10px;
}

.block {
	display: block;
	height: 0;
}

.strong {
	font-weight: bold;
	color: DarkKhaki;
}

ul#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

ul#navigation .ui-icon {
	float: left;
}

ul#navigation li {
	float: left;
	margin-bottom: 3px;
	border: 0;
	background-image: url("images/hr.png");
	background-repeat: repeat-x;
	background-position: left bottom;
	display: block;
	margin: 0 0 0 -10px;
	padding: 7px 0 5px 3px;
	background-color: white;
}

ul#navigation li a {
	text-decoration: none;
	padding: 0 0 0 2px;
	color: #222222 !important;
	display: block;
	width: 168px;
	height: 23px;
}

ul#navigation li a:visited {
	color: #222222 !important;
}

ul#navigation li:hover {
	background-color: #ffffe0;
}

hr {
	border: none;
	background-image: url("images/hr.png");
	background-repeat: repeat-x;
	margin-top: 13px;
	margin-bottom: -5px;
	width: 783px;
	margin-left: -9px;
}

input[type='text'],input[type='submit'],input[type='password'],select,textarea
	{
	-moz-border-radius: 4px 4px 4px 4px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid #ccc;
	font-family: Tahoma, Helvetica, sans-serif;
	color: #333333;
	font-size: 97%;
	padding: 1px;
	margin-bottom: 1px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

.breit {
	width: 618px;
}

input[type='submit'] {
	font-size: 110%;
	padding: 4px;
	font-weight: bold;
	margin-top: 13px;
}

textarea {
	margin-left: 9.3em;
}

label {
	vertical-align: top;
}

#titel,#bemerkung,.innen {
	padding-left: 9em;
}

.innen,.set {
	line-height: 30px;
}

div.set ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.set ul li {
	margin: 8px 0;
	background-repeat: no-repeat;
	padding-left: 42px;
}

ul#publication li {
	background-image: url(images/Projekt.png);
}

ul#project li {
	background-image: url(images/Projekt.png);
}

ul#scanner li {
	background-image: url(images/Scanner.png);
	background-position: 0 .4em;
}

#bibliothek label {
	vertical-align: middle;
}

#powered {
	float: right;
}

img {
	border: 0 none;
	vertical-align: middle;
}

#footer p {
	margin: 0;
}

p#name {
	font-size: 70%;
	padding: 0.2em 0 0 0;
}

h1,h1.main {
	color: DarkKhaki;
	font-weight: normal;
}

h1.main {
	clear: both;
}