atacama_*.conf
blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
MYMETA.json
nytprof.out
pm_to_blib
Thumbs.db
*.swp
*.log
*.sql
.project
t/var/atacama.conf
t/var/atacama.db
t/var/sisis.conf
t/var/sisis.db
