atacama_*.conf
blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
MYMETA.json
nytprof.out
pm_to_blib
Thumbs.db
*.swp
*.log
*.sql
.project
/t/input_files/*.*
/t/input_files/ingest/
/t/input_files/reference_new/
/t/input_files/archive/
/t/input_files/reference/
/t/input_files/thumbnail/
/t/input_files/ubr00003
lib/Atacama/Model/AtacamaWikiDB.pm
