
<script type="text/javascript">
	var prefs = {

		data : {},
		
		load : function() {
                        // Read the cookie property. This returns all cookies for this document.
                        var allcookies = document.cookie;
                        // Look for the start of the cookie named 'atacama_kk='
                        var pos = allcookies.indexOf('atacama_kk=');

                        // If we find a cookie by that name, extract and use its value
                        if (pos != -1) {
                            var start = pos + 11;                     // Start of cookie value
                            var end = allcookies.indexOf(";", start);  // End of cookie value
                            if (end == -1) end = allcookies.length;
                            var value = allcookies.substring(start, end);  // Extract the value
                            if (value) {
                                value = unescape(value);               // Decode it
				// console.debug(value);

				try	{
				result = jQuery.parseJSON(value);
				return result;
				}
				catch(e) 	{
				// We report an error, and show the erronous JSON string (we replace all " by ', to prevent another error)
				result = jQuery.parseJSON( '{"code":"error","content":"' + e.replace(/"/g, "'") + '"}' );
				}
                            }
			}
		},

		save : function(expires, path) {
			var d = expires || new Date(2020, 02, 02);
			var p = path || '/';

			var jsonstring = JSON.stringify(this.data);

			document.cookie = 'atacama_kk=' + escape(jsonstring) + ';path=' + p + ';expires='
					+ d.toUTCString();
		}

	}

	$(window).unload(function() {

		var filters = {
			order_id : $('#gs_order_id').val(),
			titel_isbd : $('#gs_titel_isbd').val(),
			projects : $('#gs_projects').val(),
			status : $('#gs_status').val()
		};
		// console.debug(filters);

		prefs.data = {
			filter : filters,
			scol : $('#orders').jqGrid('getGridParam', 'sortname'),
			sord : $('#orders').jqGrid('getGridParam', 'sortorder'),
			page : $('#orders').jqGrid('getGridParam', 'page'),
			rows : $('#orders').jqGrid('getGridParam', 'rowNum')
		};

		prefs.save();
	});


    [% IF filters %] var filters_from_session = [% filters %]; [% END %]


   function showCatlink(cellvalue, options, rowObject) {
		var idUrl = "[% c.uri_for('/order/') %]" + options.rowId + "/edit_from_list";
		return "<a href='" + idUrl + "'>" + cellvalue + "</a>";

	}

	function createField(name, op, data) {
		var field = '{\"field\":\"' + name + '\",\"op\":\"' + op
				+ '\",\"data\":\"' + data + '\"}';
		return field;
	}

	function filterGrid(gridprefs) {
		var fields = "";
		var order_id = gridprefs.filter.order_id;
		var titel_isbd = gridprefs.filter.titel_isbd;
		var projects = gridprefs.filter.projects;
		var status = gridprefs.filter.status;
		//console.debug ("status: "+status);

		if (order_id != ""){
			fields += (fields.length == 0 ? "" : ",")
					+ createField("order_id", "bw", order_id); }
		if (titel_isbd != ""){
			fields += (fields.length == 0 ? "" : ",")
					+ createField("titel_isbd", "bw", titel_isbd); }
		if (projects != "" && projects !== "undefined") {
			fields += (fields.length == 0 ? "" : ",")
					+ createField("project_id", "eq", projects); }
		if (status != "" && status !== "undefined") {
			fields += (fields.length == 0 ? "" : ",")
					+ createField("status_id", "eq", status); }

		var filters = '{\"groupOp\":\"AND\",\"rules\":[' + fields + ']}';
    	return filters;
	}
	


	

	$(document)
			.ready(
					function() {

						
						var gridprefs = prefs.load();

						jQuery("#orders")
								.jqGrid(
										{											
										 	url : "[% json_url %]",
											datatype : "local",
											colNames : [ 'Auftragsnr.',
													'Titel', 'Projekte',
													'Status' ],
											colModel : [
													{
														name : 'order_id',
														formatter : showCatlink,
														index : 'order_id',
														width : 90
													},
													{
														name : 'titel_isbd',
														sortable : false,
														index : 'titel_isbd',
														width : 330
													},
													{
														name : 'projects',
														index : 'project_id',
														sortable : false,
														width : 160,
														stype : 'select',
														editoptions : {
															value : ":Alle[% FOR project IN projects %];[% project.project_id %]:[% project.name %][% END %]"
														}

													},
													{
														name : 'status',
														index : 'status_id',
														sortable : true,
														width : 100,
														stype : 'select',
														editoptions : {
															value : ":Alle[% FOR stat IN status %];[% stat.status_id %]:[% stat.name.replace(':', '\ /') %][% END %]"
														}
													} ],
											rowNum : "20",
											height : "100%",
											autowidth: true,
											rowList : [ 10, 20, 30, 40, 50, 60,
													70, 80, 90, 100 ],
											pager : '#pager_orders',
											toppager: true,
											sortname : 'order_id',
											gridview : true,
											viewrecords : true,
											sortorder : "asc",
											caption : "Aufträge"
										});

						jQuery("#orders").jqGrid('navGrid', '#pager_orders', {
							cloneToTop:true,
							del : false,
							add : false,
							edit : false,
							search : false
						});

						jQuery("#orders").jqGrid('filterToolbar', {
							stringResult : true,
							searchOnEnter : true
						});

						jQuery("#orders").jqGrid('navButtonAdd','#pager_orders',
								{caption:"Filter zurücksetzen", onClickButton:function()
							{ var grid = $("#orders");
							grid[0].clearToolbar();
							} }); 


						jQuery("#orders").jqGrid('navButtonAdd','#orders_toppager',
								{caption:"Filter zurücksetzen", onClickButton:function()
							{ var grid = $("#orders");
							grid[0].clearToolbar();
							} }); 
						
						
						jQuery("#gs_titel_isbd").attr("placeholder", "Titel eingeben, um zu suchen");
						

						if (typeof gridprefs !== 'undefined'){
							$('#gs_order_id').val(gridprefs.filter.order_id);
							$('#gs_titel_isbd').val(gridprefs.filter.titel_isbd);
							$('#gs_projects').val(gridprefs.filter.projects);
							$('#gs_status').val(gridprefs.filter.status);

    
							filters = filterGrid(gridprefs);
							//console.debug(gridprefs);
									
							var data = $('#orders').jqGrid("getGridParam", "postData");
							data.search = true;
							data.filters = filters;
						
						
							$('#orders').jqGrid("setGridParam", { "postData": data,
								"datatype": "json",
								"search": "true",
								"page": gridprefs.page,
								"rowNum" : gridprefs.rows,
								"sortname" : gridprefs.scol,
								"sortorder" : gridprefs.sord });
							$('#orders').trigger("reloadGrid");
			
						}
						else {
							$('#orders').jqGrid("setGridParam", {
								"datatype": "json" });
							$('#orders').trigger("reloadGrid");
						}
						
						
						
						$(window).bind('resize', function() {
							
							content_width = $('#content').width(); 
							add_space = (content_width / 100) * 3;
							space = content_width + add_space;
							
							
							
						    $("#orders").setGridWidth(space);
						}).trigger('resize');

				
					});
</script>
[% title = "Alle Aufträge" %]

[%
   menu_links = [
      { url   = c.uri_for_action('/order/list')
        title = 'Auftr&auml;ge' 
        icon = 'contact'
        state= 'active'
      }
     { url   =  c.uri_for_action('/order/add')
        title = 'Auftrag anlegen'
        icon = 'plus' 
      }
      { url = c.uri_for_action('/job/scoreboard/list')
      	title = 'Laufender Job'
      	icon = 'circle-triangle-e'
      }
      { url = c.uri_for_action('/job/queue/list')
        title = 'Job-Warteschlange'
        icon = 'info'
       }
      { url = c.uri_for_action('/job/error/list')
      	title = 'Fehlerhafte Jobs'
      	icon = 'alert'
      }
        
    ];
    
 %]

<table id="orders"></table>
<div id="pager_orders"></div>

