<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[% title %]</title>
<link rel="icon" href="[%c.uri_for_static('images/atacama_icon.ico')%]" type="image/x-icon">
<link title="main stylesheet" href="[%c.uri_for_static('css/atacama.css')%]" type="text/css" rel="stylesheet" />
<link title="main stylesheet" href="[%c.uri_for_static('css/ui-lightness/jquery-ui-1.8.11.custom.css')%]" type="text/css" rel="stylesheet" />
<link title="Regensburger_Dissertationen-Scanauftrag via Signatur erstellen" href="[%c.uri_for_static('Regensburger_Dissertationen-Scanauftrag_via_Signatur.xml')%]" rel="search" type="application/opensearchdescription+xml" />

<script type="text/javascript" 	src="[%c.uri_for_static('js/ext/jquery/jquery-1.5.1.min.js')%]"></script>
<script type="text/javascript" src="[%c.uri_for_static('js/ext/jquery-ui/jquery-ui-1.8.11.custom.min.js')%]"></script>

<script type="text/javascript"	src="[%c.uri_for_static('js/ext/plugins/jquery/ScrollTo/jquery.scrollTo-1.4.2-min.js')%]"></script>
<script type="text/javascript" src="[%c.uri_for_static('js/ext/json2.js')%]"></script>
</head>
<body id="page">

<div id="container">
