[% title = "Status bearbeiten" %]

[%  
   menu_links = [
      { url   =  c.uri_for('/status/list') 
        title = 'Status'
        icon = 'contact' 
      }
      { url   =  c.uri_for_action('/status/add')
        title = 'Status hinzufügen'
        icon = 'plus' 
      }
    ];
 %]
 
<form id="status_form" name="[% form.name %]"
    action="[% c.req.uri %]"
    method="post">
[% form.field('name').render %]
[% form.field('description').render %]
[% form.field('active').render %]
</form>